
/*<-----------------------以下是LoginPanelPanel、RegisterPanel和ForgotPanel的CSS样式-----------------------> */

#loginBox,#registerBox,#forgotBox
{
	-fx-background-color: #3C3C3C;
	-fx-opacity: 0.9;
	-fx-background-radius: 20 20 20 20;
}

#t_username,#t_password,#t_mobilePhone
{
	-fx-background-color: #ffffff00;
	-fx-border-width: 0px 0px 1px 0px;
	-fx-border-color: rgb(128,128,128);
	-fx-text-fill: white;
}

#l_title
{
	-fx-text-fill: #d0d0d0;
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}

#l_fail_username,#l_fail_password,#l_fail_mobilePhone,#l_login_fail
{
	-fx-text-fill: 	rgb(255, 91, 91);
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#l_tip1,#l_tip2,#l_tip3
{
	-fx-text-fill: 	#53FF53;
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#l_msg
{
	-fx-text-fill: #84C1FF;
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#back
{
	-fx-text-fill: white;
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#register
{
	-fx-text-fill: #87CEFA;
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#forgot_password
{
	-fx-text-fill: #53FF53;
	-fx-font-weight: 600;
	-fx-font-size: 14px;
}

#register:hover,#back:hover,#forgot_password:hover
{
	-fx-text-fill: #FFFF37;
}

#b_signIn,#b_signUp,#b_lookUp
{
	-fx-text-fill: white;
	-fx-font-weight: 700;
	-fx-font-size: 12px;
	-fx-background-color: #FF60AF;
 	-fx-background-radius: 50 50 50 50;
}

#b_signIn:hover,#b_signUp:hover,#b_lookUp:hover
{
	-fx-text-fill: #FFFF37;
}

/*<--------------------------------以下是MainMenuPanel的CSS样式--------------------------------> */

#LEISURE,#ADVENTURE
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 34px;
	-fx-font-weight: 500;
	-fx-opacity: 0.9;
}

#OPTIONS
{
	-fx-text-fill: #909090;
	-fx-font-size: 26px;
	-fx-font-weight: 500;

}

#EXIT_TO_WINDOWS,#back_options
{
	-fx-text-fill: #cecece;
	-fx-font-size: 14px;
	-fx-font-weight: 900;
}

#LEISURE:hover,#ADVENTURE:hover,#OPTIONS:hover,#EXIT_TO_WINDOWS:hover,
#NEW_GAME:hover,#CONTINUE:hover,#BACK:hover,#back_options:hover
{
	-fx-text-fill: #d4b600;
}

#NEW_GAME,#CONTINUE
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 34px;
	-fx-font-weight: 500;
	-fx-opacity: 0.9;
}

#BACK
{
	-fx-text-fill: #cecece;
	-fx-font-size: 14px;
	-fx-font-weight: 900;
}

#KEY_BINDING
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 24px;
	-fx-font-weight: 500;
	-fx-opacity: 0.9;
}
#GAME_PLAY
{
	-fx-text-fill: #d5b700;
	-fx-font-size: 24px;
	-fx-font-weight: 500;
	-fx-opacity: 0.9;
}

#GAME_BACKGROUND,#AUDIO,#MOVEMENT,#SPEED,#ATTACK
{
	-fx-text-fill: #d5b700;
	-fx-font-size: 16px;
	-fx-font-weight: 800;
}

#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#soundEffects,#music
{
	-fx-text-fill: #c0c0c0;
	-fx-font-size: 14px;
	-fx-font-weight: 600;
}

#up,#down,#left,#right,#speedUp,#speedDown
{
	-fx-text-fill: #c0c0c0;
	-fx-font-size: 14px;
	-fx-font-weight: 800;
}
#up_key,#down_key,#left_key,#right_key,#speedDown_key,#speedUp_key
{
	-fx-text-fill: #c0c0c0;
	-fx-font-size: 16px;
	-fx-font-weight: 800;
}

/*<----------------------------------以下是GamePanel的CSS样式----------------------------------> */

#continueGame,#EXIT_TO_MainMenu
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 34px;
	-fx-font-weight: 500;
	-fx-opacity: 0.9;
}

#continueGame:hover,#EXIT_TO_MainMenu:hover
{
	-fx-text-fill: #d4b600;
}

#gameover
{
	-fx-text-fill: #FFFF37;
	-fx-font-size: 38px;
	-fx-font-weight: 500;
	-fx-opacity: 0.8;
}

#l_tip
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 14px;
	-fx-font-weight: 500;
	-fx-opacity: 0.7;
}
